%p#notice= notice
%p
  %strong Description:
  = @task.description
%p
  %strong Is completed:
  = @task.is_completed
%p
  %strong User:
  = @task.user_id
= link_to 'Edit', edit_task_path(@task)
|
= link_to 'Back', tasks_path
